.inner {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin: 190px 0 0 450px;
    align-items: center;
    padding: 10px 0 0 150px;
}

.inner input {
    margin: 5px;
}
